@import "_normalize";
$PNb: 'ProximaNova-Black';
$RNl: 'ProximaNova-Light';
$PN: 'ProximaNova-Regular';
$PNs: 'ProximaNova-Semibold';
$G: 'Georgia';
$PDb: 'PlayfairDisplayBold';
$Fontello: 'fontello';

$PNName: 'Proxima Nova';
$PDbName: 'Playfair Display';




$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$bgcolor:#a07262;
$wt:#fff;
$bk:#000;
$linkcolor:#b2a88c;
$accentcolor:#ad83b2;
$ttl:31px;
$fz: 16px;


@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.eot');
                src: url($dir+$fontname+'.eot') format("eot"),
                     url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($PNb, $black, $normal, $PNName);
@include font($RNl, $light, $normal, $PNName);
@include font($PNs, $semibold, $normal, $PNName);
@include font($G, $normal, $normal, $G);
@include font($PN, $normal, $normal, $PNName);
@include font($PDb, $normal, $normal, $PDbName);

@include font($Fontello, $normal, $normal, $Fontello);
.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    /* <i class="demo-icon icon-phone">&#xe800;</i> */
}
body{
    font-size: $fz;
    font-family: $PNName, sans-serif;
    font-weight: 300;
    font-style: normal;
}
main{
    .container{
        max-width: 1280px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    header{
        .flex-wrap{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            padding-bottom: 8px;
            border-bottom: 1px solid $accentcolor;
            .logo{
                a{
                    img{
                        
                    }
                }
            }
            .address{
                max-width: 530px;
                width: 100%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                font-weight: normal;
                justify-content: space-between;
                .adr{
                    max-width: 195px;
                    width: 100%;
                    p{
                        line-height: 1.1;
                        strong{
                            font-weight: 600;
                        }
                        i{
                            color: $linkcolor;
                            margin-right: 20px;
                        }
                        a{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}















































